<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<title>Register</title>
</head>
<body>
	<div class="container text-center mt-5" style="max-width: 600px">
		<h1 class="text-center mb-4">登録画面</h1>
		<form method="post" action="/todo">
			<div class="row mb-3">
				<label class="col-sm-3 col-form-label">タスク名</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="taskName">
				</div>
			</div>
			<br>
			<div class="row mb-3">
				<label class="col-sm-3 col-form-label">詳細</label>
				<div class="col-sm-9">
					<textarea class="form-control" name="detail" row="5"></textarea>
				</div>
			</div>
			<br>
			<div class="row mb-3">
				<label class="col-sm-3 col-form-label">優先度</label>
				<div class="col-sm-9">
					<select class="form-select" name="priority">
						<option value="高">高</option>
						<option value="中">中</option>
						<option value="低">低</option>
					</select>
				</div>
			</div>
			<br>
			<div class="row mb-3">
				<label class="col-sm-3 col-form-label">ステータス</label>
				<div class="col-sm-9">
					<select class="form-select" name="status">
						<option value="未着手">未着手</option>
						<option value="進行中">進行中</option>
						<option value="完了">完了</option>
					</select>
				</div>
			</div>
			
			<br>
			
			<div class="d-flex justify-content-center gap-3">
				<button type="submit" class="btn btn-primary">確定</button>
				<a href="/todo" class="btn btn-secondary">戻る</a>
			</div>
		</form>
	</div>
</body>
</html>